body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/BlueSky_Clouds.WEBP");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* optional: gives a nice effect */
}

#wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(248, 250, 252, 0.95); /* slightly transparent */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

header {
    background-color: #0E4D64;
    color: #F8FAFC;
    text-align: center;
    padding: 30px 15px;
    font-size: 3em;
}

header h1 {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.2em;
}

nav {
    font-size: 20px;
    background-color: #1B6CA8;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #F8FAFC;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a, .dropdown {
    display: inline-block;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

/* Dropdown container */
.dropdown {
    position: relative;
    cursor: pointer;
}

/* Hidden menu */
.dropdown-content {
    display: none;
    position: absolute;
    left: 0%;      /* THIS makes it go sideways */
    top: 100%;
    background-color: #1B6CA8;
    white-space: nowrap;
}

/* Links inside dropdown */
.dropdown-content a {
    display: inline-block;   /* makes them horizontal */
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

/* Show on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* Hover effect */
.dropdown-content a:hover {
    background-color: #0E7490;
}

nav a, 
nav .dropdown {
    display: inline-block;
    color: #E2E8F0;
    margin: 0 15px;
    font-weight: bold;
}

/* Add divider to EVERYTHING except the first item */
nav > * + * {
    border-left: 2px solid #E2E8F0;
    padding-left: 15px;
}

main {
    padding: 20px;
    background-color: #F8FAFC;
    color: #0F172A;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0F172A;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #0F172A;
    text-align: center;
}

p {
    border: 2px solid #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #334155;
}

table { text-align: center;
}

li { text-align: left; 
}

footer {
    background-color: #0F172A;
    color: #E2E8F0;
    text-align: center;
    padding: 15px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}